## directories
.vscode
**/node_modules
**/generated
**/coverage
dist
hardhat-env/.openzeppelin
hardhat-env/artifacts
hardhat-env/cache
hardhat-env/deployments
hardhat-env/types
graph-node/data
subgraph/build

# files
**/*.tsbuildinfo
**/.DS_Store
hardhat-env/coverage.json
subgraph/subgraph.yaml
.nvmrc