## directories
**/node_modules
hardhat-env/.openzeppelin
hardhat-env/artifacts
hardhat-env/cache
hardhat-env/coverage
hardhat-env/deployments
hardhat-env/dist
hardhat-env/types
next-app/.graphclient
next-app/.next
next-app/public
next-app/src/generated
graph-node
subgraph/build
subgraph/src/generated

# files
pnpm-lock.yaml
**/*.tsbuildinfo
hardhat-env/coverage.json
subgraph/templates/subgraph.template.yaml
subgraph/subgraph.yaml
.nvmrc
.npmrc