.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 1rem;
  background-color: #fff;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.info > p {
  margin: 1rem 0 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.info > h2 {
  @mixin $text-xl;
  margin: 0;
  width: fit-content;
}
.info > h3 {
  @mixin $text-lg;
  margin: 1rem 0 0;
  width: fit-content;
}
.layout > p {
  margin: 1rem 0 0;
  @mixin $text-sm;
}
.info > h2 > a:hover {
  text-decoration: underline;
}
