.list {
  padding: 0;
}
.anchor {
  composes: anchor from 'src/shared/styles/modules/utils.module.css';
}
.listMargin {
  list-style-type: disc;
}
.list > li,
.listMargin > li {
  margin: 1rem 0;
}
.listMargin > li > a:hover {
  text-decoration: underline;
}
