.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: var(--shadow);
}
.description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.description > p,
.info > p {
  margin: 1rem 0 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.description > p {
  @mixin $text-sm;
}
.info > h2 {
  @mixin $text-xl;
  margin: 0;
  width: fit-content;
}
.info > ul {
  margin: 0;
  padding: 0 0 0 0.6rem;
  list-style: none;
}
.info > ul > li {
  @mixin $text-base;
  margin: 0.75rem 0 0;
}
.actionBtns {
  display: flex;
  flex-direction: row;
}
.actionBtns > button {
  border-radius: 0;
}
.info > ul > li > a:hover {
  color: #000;
  text-decoration: underline;
}
