.layout {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  background-color: #fff;
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  box-shadow: var(--shadow);
  height: fit-content;
}
.description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(50% + 1rem);
  height: calc(100% - 14rem);
}
.description > p {
  margin: 1rem 0 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.description > h2 {
  @mixin $text-lg;
  margin: 0;
  width: fit-content;
}
.description > ul {
  margin: 0;
  padding: 0 0 0 0.5rem;
  list-style: none;
}
.description > ul > li {
  @mixin $text-sm;
  margin: 0.75rem 0 0;
}
.actionBtns {
  display: flex;
  flex-direction: row;
}
.actionBtns > button {
  border-radius: 0;
}
.date {
  @mixin $text-sm;
}
.description > ul > li > a:hover {
  color: #000;
  text-decoration: underline;
}
