.layout,
.layoutselfProduced {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  /* height: fit-content; */
}
.layout {
  background-color: var(--gray-200);
}
.layoutselfProduced {
  background-color: #fff;
}
.img {
  border-radius: var(--border-radius) var(--border-radius) 0 0;
  object-position: center;
  position: absolute;
}
.description {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
}
.info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.description > p,
.info > p {
  margin: 1rem 0 0;
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}
.description > p {
  @mixin $text-sm;
}
.info > h2 {
  @mixin $text-xl;
  margin: 0;
  width: fit-content;
}
.info > h3 {
  @mixin $text-lg;
  margin: 1rem 0 0;
  width: fit-content;
}
.info > ul > li > h4 {
  @mixin $text-base;
  margin: 0;
  width: fit-content;
  display: inline;
}
.info > ul {
  margin: 0;
  padding: 0 0 0 0.6rem;
  list-style: none;
}
.info > ul > li {
  margin: 0.75rem 0 0;
  @mixin $text-base;
}
.info > ul > li > span {
  font-weight: bold;
}
.tag {
  font-style: italic;
  color: var(--gray-500);
  @mixin $text-base;
}
.info > h2 > a:hover,
.info > h3 > a:hover,
.info > ul > li > h4 > a:hover {
  text-decoration: underline;
}
